In [90]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np
import pandas as pd
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import euclidean_distances

In [91]:
house_data = pd.read_json('/Users/admin/Desktop/Two sigma/train.json')
house_data.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue
100004,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street
100007,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street
100013,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street

In [92]:
house_data.shape

(49352, 15)

In [93]:
house_data.isnull().sum()

bathrooms          0
bedrooms           0
building_id        0
created            0
description        0
display_address    0
features           0
interest_level     0
latitude           0
listing_id         0
longitude          0
manager_id         0
photos             0
price              0
street_address     0
dtype: int64

In [94]:
feature_data = house_data[['description','features','interest_level']]
feature_data.head()

,description,features,interest_level
10,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,[],medium
10000,,"[Doorman, Elevator, Fitness Center, Cats Allow...",low
100004,"Top Top West Village location, beautiful Pre-w...","[Laundry In Building, Dishwasher, Hardwood Flo...",high
100007,Building Amenities - Garage - Garden - fitness...,"[Hardwood Floors, No Fee]",low
100013,Beautifully renovated 3 bedroom flex 4 bedroom...,[Pre-War],low

In [95]:
feature_value = feature_data['features'].tolist()
feature_value

feature_lst = []
for i in range(len(feature_value)):
    feature_lst += feature_value[i]
# print(len(feature_lst)) # all features

uniq_feature = list(set(feature_lst))
# print(uniq_feature) #all unique features
len(uniq_feature)

1556

In [96]:
# see the frequency of each feature
import collections
def most_common(lst):
    features = collections.Counter(lst)
    feature_value = features.keys()
    frequency = features.values()
    data = [('feature_value', feature_value),
            ('frequency', frequency),]    
    df = pd.DataFrame.from_items(data)
    return df.sort_values(by = 'frequency', ascending = False)

most_common(feature_lst)

                                          feature_value  frequency
639                                            Elevator      25915
974                                        Cats Allowed      23540
1018                                    Hardwood Floors      23527
1203                                       Dogs Allowed      22035
22                                              Doorman      20898
1316                                         Dishwasher      20426
826                                              No Fee      18062
168                                 Laundry in Building      16344
880                                      Fitness Center      13252
288                                             Pre-War       9148
201                                     Laundry in Unit       8738
607                                           Roof Deck       6542
590                                       Outdoor Space       5268
695                                         Dining Room       5136
489                                 High Speed Internet       4299
1442                                            Balcony       2992
229                                       Swimming Pool       2730
942                                 Laundry In Building       2593
85                                     New Construction       2559
167                                             Terrace       2283
465                                           Exclusive       2167
307                                                Loft       2100
1345                                       Garden/Patio       1943
365                                   Wheelchair Access       1358
1361                               Common Outdoor Space       1293
1035                                           HARDWOOD        914
237                                           Fireplace        912
1163                                            SIMPLEX        908
114                                              prewar        855
1452                                            LOWRISE        789
...                                                 ...        ...
602                                     Private Shuttle          1
601                                      LEED certified          1
600                                Washer Dryer in Unit          1
599                                                   3          1
597   50 ft. exercise pool and whirlpool with lifegu...          1
596                                          Fire Place          1
595                                  Large Private Deck          1
593                                             and RCN          1
592                                    CitiBikes Nearby          1
588   ** MIDTOWN MANSION * SPRAWLING SUNFILLED STUDI...          1
613                                  Gatehouse security          1
615                             Spacious and Bright !!!          1
636                                      Washer / Dryer          1
616                                               quiet          1
634                                     granite kitchen          1
633                                              Baruch          1
632   ** HEART OF THE VILLAGE! * MASSIVE 3BR SUPER S...          1
630                                    Natural Sunlight          1
628                                    HUGE Living Room          1
627                                         big closets          1
626                                 Storage in basement          1
625   ** HOLY NO FEE DEAL! * OVERSIZED 2BR SUPER SHA...          1
624                Security ******Available June 1st***          1
623   ** SASSY SOHO STEAL! * NO FEE! * SPRAWLING STU...          1
622                                      Great Location          1
621                                       Housekeeeping          1
619                                     Pre-War Details          1
618                         Decorative Wooden Fireplace          1
617                                    Equal Size Rooms          1
1555                                    Near All Trains          1

[1556 rows x 2 columns]

In [100]:
def newColumn(name,df,series):
    feature = pd.Series(0,df.index,name = name)# data : 0
    for row,word in enumerate(series):
        if name in word:
            feature.iloc[row] = 1
    df[name] = feature # feature : series ; value in series : 1 or 0
    return df

# select features based on frequency
facilities = ['Elevator','Cats Allowed','Hardwood Floors','Dogs Allowed','Doorman','Dishwasher','No Fee','Laundry in Building','Fitness Center']
for name in facilities:
    house_data = newColumn(name, house_data, house_data['features'])
print(house_data)

        bathrooms  bedrooms                       building_id  \
10            1.5         3  53a5b119ba8f7b61d4e010512e0dfc85
10000         1.0         2  c5c8a357cba207596b04d1afd1e4f130
100004        1.0         1  c3ba40552e2120b0acfc3cb5730bb2aa
100007        1.0         1  28d9ad350afeaab8027513a3e52ac8d5
100013        1.0         4                                 0
100014        2.0         4  38a913e46c94a7f46ddf19b756a9640c
100016        1.0         2  3ba49a93260ca5df92fde024cb4ca61f
100020        2.0         1  0372927bcb6a0949613ef5bf893bbac7
100026        1.0         1  a7efbeb58190aa267b4a9121cd0c88c0
100027        2.0         4                                 0
100030        1.0         0                                 0
10004         1.0         1                                 0
100044        1.0         2  67c9b420da4a365bc26a6cd0ef4a5320
100048        2.0         2                                 0
10005         1.0         1                                 0
100051        1.0         0  bfb9405149bfff42a92980b594c28234
100052        1.0         2  642cc2c920512ffe2a74c28122f8b47f
100053        1.0         1                                 0
100055        1.0         4  cc4c6ae9225df6d2395c4e16c235f7ab
100058        1.0         1  dc3cae15729b48fec3394f9295671991
100062        1.0         3  205f95d4a78f1f3befda48b89edc9669
100063        1.0         2  ecea86b79afa539505aa4bad3ff449c6
100065        1.0         1  1a6cf9b71da65cdc0cfd5015a75317ac
100066        1.0         1  a6200d7448037cfee809b2451219f879
10007         2.0         4  05b871a1e1e0368391160bcefc608e00
100071        3.5         4  45b4143a9841eb63d7203c4f21a64ff7
100075        1.0         1  d68497ff1f5ac77f143e5f21817ed6fb
100076        1.0         1  ec447453d3b8033e14a7b54ba1e13e02
100079        1.0         1  f06ad2f6f1a821c8efc03dc195d369df
100081        2.0         2  f115a9bff3a9c4e6eedc9114374b3d74
...           ...       ...                               ...
99915         1.0         1                                 0
99917         1.0         1  e243886a4cac69881c07c6a1f38185bf
99919         1.0         0  da2f861e30b1391e8368438efddaa2a7
99921         1.0         2  fc0676a4d4fdb4e767faf6414975a0cb
99923         2.0         2                                 0
99924         1.0         1  93cd24891f8423d45ac587ab1fdb1225
99931         1.0         1                                 0
99933         1.0         2  80a120d6bc3aba97f40fee8c2204524b
99935         1.0         1                                 0
99937         1.5         0  d48767c37a934daaf0bbb0e58c755d0c
9994          1.0         2                                 0
99953         1.0         1  e243886a4cac69881c07c6a1f38185bf
99956         2.0         2                                 0
99960         1.0         1  6f1e2020bd0e4ff48d3a5d482944a753
99961         2.0         3  ae3e5e3d93ea18140752078f9a3177af
99964         1.0         0  f8009151babfad197b48f6922eec99f2
99965         2.0         3  a485c2deb62ad3c9c76edebd532a446c
99966         1.0         3  a36895b9975c6991ca0fa1d9a99023a1
99979         1.0         1  e4490b8e6a410d39d38e40e572243a64
99980         1.0         0  d16f875956b264d5920d8424631091d4
99982         1.0         1  6134e7c4dd1a98d9aee36623c9872b49
99984         1.0         1  8e7bd3cbdd67a0dcc719224a41699d2b
99986         1.0         1  399f92c2a78ada2f01c8414ce3bc909b
99987         1.0         1                                 0
99988         1.0         1  3b13a6597596619bdbc8281096f21d23
9999          1.0         2  297160caf8a88c10718b492d4672c6b4
99991         1.0         1  9e871ccfea7b07686c101548ca693af6
99992         1.0         1  7967a1280bf3f7644500fc79d2696b0e
99993         1.0         0  ad67f6181a49bde19218929b401b31b7
99994         1.0         2  5173052db6efc0caaa4d817112a70f32

                    created  \
10      2016-06-24 07:54:24
10000   2016-06-12 12:19:27
100004  2016-04-17 03:26:41
100007  2016-04-18 02:22:02
100013  2016-04-28 01:32:41
100014  2016-04-19 04:24:47
100016  2016-04-27 03:19:56
100020  2016-04-13 06:01:42
100026  2016-04-20 02:36:35
100027  2016-04-02 02:58:15
100030  2016-04-14 01:10:30
10004   2016-06-03 03:21:22
100044  2016-04-19 05:37:25
100048  2016-04-09 01:22:11
10005   2016-06-01 03:11:01
100051  2016-04-18 02:36:00
100052  2016-04-22 05:57:16
100053  2016-04-19 03:36:28
100055  2016-04-20 04:00:32
100058  2016-04-09 03:49:42
100062  2016-04-12 02:39:45
100063  2016-04-07 02:11:45
100065  2016-04-13 05:17:43
100066  2016-04-17 02:26:52
10007   2016-06-07 04:39:56
100071  2016-04-27 06:43:40
100075  2016-04-25 02:29:50
100076  2016-04-22 05:39:10
100079  2016-04-21 05:27:10
100081  2016-04-26 02:59:37
...                     ...
99915   2016-04-25 01:13:37
99917   2016-04-26 04:43:14
99919   2016-04-08 05:51:57
99921   2016-04-29 15:03:29
99923   2016-04-05 01:12:45
99924   2016-04-24 03:15:18
99931   2016-04-25 01:20:23
99933   2016-04-03 03:51:21
99935   2016-04-19 02:58:55
99937   2016-04-14 05:39:33
9994    2016-06-06 01:22:44
99953   2016-04-26 02:18:16
99956   2016-04-16 16:39:50
99960   2016-04-05 04:35:32
99961   2016-04-22 03:11:44
99964   2016-04-29 05:20:49
99965   2016-04-03 05:23:23
99966   2016-04-15 05:36:39
99979   2016-04-14 03:32:24
99980   2016-04-27 12:52:12
99982   2016-04-07 02:29:00
99984   2016-04-02 03:17:03
99986   2016-04-14 03:39:42
99987   2016-04-11 03:29:05
99988   2016-04-22 15:44:11
9999    2016-06-02 05:41:05
99991   2016-04-04 18:22:34
99992   2016-04-16 02:13:40
99993   2016-04-08 02:13:33
99994   2016-04-12 02:48:07

                                              description  \
10      A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...
10000
100004  Top Top West Village location, beautiful Pre-w...
100007  Building Amenities - Garage - Garden - fitness...
100013  Beautifully renovated 3 bedroom flex 4 bedroom...
100014
100016  Stunning unit with a great location and lots o...
100020  This huge sunny ,plenty of lights 1 bed/2 bath...
100026                           <p><a  website_redacted
100027  This is a spacious four bedroom with every bed...
100030  New to the market! Spacious studio located in ...
10004   Check out this one bedroom apartment in a grea...
100044  ***LOW FEE. Beautiful CHERRY OAK WOODEN FLOORS...
100048  Lincoln Square's premier full service building...
10005   Spacious 1-Bedroom to fit King-sized bed comfo...
100051  Stunning  full renovated studio unit. High cei...
100052  East Village is a great community with great p...
100053  *Location: Thayer St. &amp; Broadway, Manhatta...
100055
100058
100062  BEAUTIFUL 2 BEDROOM POSSIBLE CONVERSION INTO T...
100063  No fee huge two bedroom apartment. Great locat...
100065
100066  CooperCooper.com :: Web ID #179546; Access 100...
10007   SPRAWLING 2 BEDROOM FOUND! ENJOY THE LUXURY OF...
100071  Amazing 4 bedroom convertible. Remarkably luxu...
100075  Don't miss out on this fantastic apartment.......
100076  The TRUE 1 bedroom apartment features extra la...
100079          Currently under renovation, this one b...
100081  Gut Renovated Apartment with Stainless steel a...
...                                                   ...
99915   Elegant, spacious one bedroom in modern luxury...
99917
99919   (((((IMPORTANT NOTICE))))) If you are planning...
99921   WASHER & DRYER IN UNIT ++ 5 MINUTE WALK TO R T...
99923   Tremendous Classic Six in a Luxurious Prewar D...
99924   Luxury Living--- Full-Time Doorman--- Concierg...
99931   Only one block form Washington Square Park! Ne...
99933   THIS RESIDENCE FEATURES STAINLESS STEAL  APPLI...
99935   This newly renovated 1 bedroom unit is recentl...
99937   Bedroom on top, Living room on bottom<br /><br...
9994    Don't miss out on this spacious and beautiful ...
99953   This exquisitely appointed 1 bedroom, 1 bath r...
99956   This spacious two bedroom apartment features e...
99960   Great Lower East Side one bedroom.Well maintai...
99961   THIS LARGE AND SPACIOUS 3 BD/ONE BA APARTMENT ...
99964   77TH ST! FULLY GUT RENOV STUDIO! HI CEIL! XPSD...
99965   Full-Time Doorman PET FRIENDLYElevator GYMLaun...
99966   This is a Great Opportunity to Rent an Excelle...
99979
99980   Incredibly sunny and spacious studio apartment...
99982   LUXURY BUILDING IN MIDTOWN WEST, 24 HR DOORMAN...
99984   Huge true king size one bedroom in an elevator...
99986   Charming one bedroom! Hardwood floors, sunny, ...
99987   **89th & Park Ave! (block from the central par...
99988   24hr Doorman Luxury building in the heart of t...
9999    30TH/3RD, MASSIVE CONV 2BR IN LUXURY FULL SERV...
99991   HIGH END condo finishes, swimming pool, and ki...
99992   Large Renovated One Bedroom Apartment with Sta...
99993   Stylishly sleek studio apartment with unsurpas...
99994   Look no further!!!  This giant 2 bedroom apart...

            display_address  \
10      Metropolitan Avenue
10000       Columbus Avenue
100004          W 13 Street
100007     East 49th Street
100013    West 143rd Street
100014     West 18th Street
100016    West 107th Street
100020     West 21st Street
100026     Hamilton Terrace
100027           522 E 11th
100030          York Avenue
10004       W. 173rd Street
100044            E 38th St
100048     West 63rd Street
10005        East 56th St..
100051     East 34th Street
100052             1st Ave.
100053            Thayer St
100055    West 106th Street
100058           1st Avenue
100062       Madison Avenue
100063           E 30th St,
100065     East 35th Street
100066       Liberty Street
10007              W 18 St.
100071            East 56th
100075           E 81st St.
100076     West 57th Street
100079   1215 Morris Avenue
100081           E 79th St.
...                     ...
99915     North 10th Street
99917             W 58th St
99919      East 78th Street
99921          Ridge Blvd.
99923      West 81st Street
99924            8th Avenue
99931       Thompson Street
99933                 Water
99935      East 12th Street
99937           York Avenue
9994       West 98th Street
99953      West 58th Street
99956         Nassau Street
99960         Baxter Street
99961       East 3rd Street
99964               E 77 St
99965      East 87th Street
99966      East 72nd Street
99979             Eldert St
99980           John Street
99982              W 54 St.
99984           E 76 Street
99986        Charles Street
99987      East 89th Street
99988      East 10th Street
9999                E 30 St
99991             Rector Pl
99992      West 45th Street
99993           Wall Street
99994     Park Terrace East

                                                 features interest_level  \
10                                                     []         medium
10000   [Doorman, Elevator, Fitness Center, Cats Allow...            low
100004  [Laundry In Building, Dishwasher, Hardwood Flo...           high
100007                          [Hardwood Floors, No Fee]            low
100013                                          [Pre-War]            low
100014                                                 []         medium
100016  [prewar, elevator, Dogs Allowed, Cats Allowed,...            low
100020  [Doorman, Elevator, Pre-War, Terrace, Laundry ...            low
100026  [Cats Allowed, Dogs Allowed, Elevator, Laundry...         medium
100027                      [Dishwasher, Hardwood Floors]            low
100030                                                 []            low
10004   [prewar, dishwasher, HIGHRISE, ROOFDECK, EAT I...            low
100044   [Doorman, Elevator, Laundry in Building, No Fee]           high
100048  [Swimming Pool, Doorman, Fitness Center, No Fe...            low
10005   [Elevator, Multi-Level, Laundry in Building, D...            low
100051  [Doorman, Elevator, Fitness Center, Laundry in...         medium
100052                                  [Hardwood Floors]            low
100053  [prewar, LOWRISE, EAT IN KITCHEN, SIMPLEX, HAR...            low
100055               [No Fee, Cats Allowed, Dogs Allowed]            low
100058                       [Cats Allowed, Dogs Allowed]            low
100062   [Doorman, Elevator, Dishwasher, Hardwood Floors]            low
100063  [Elevator, Central A/C, Walk in Closet(s), Par...         medium
100065                       [Cats Allowed, Dogs Allowed]            low
100066  [Doorman, Fitness Center, Pool, Elevator, Publ...            low
10007   [Balcony, Doorman, Elevator, Fitness Center, T...         medium
100071  [Roof Deck, Dining Room, Balcony, Doorman, Ele...            low
100075              [Dishwasher, Hardwood Floors, No Fee]         medium
100076  [Roof Deck, Doorman, Elevator, Laundry in Buil...            low
100079                                                 []           high
100081  [Doorman, Elevator, Fitness Center, Pre-War, L...            low
...                                                   ...            ...
99915   [Swimming Pool, Doorman, Fitness Center, Dogs ...            low
99917   [Cats Allowed, Dogs Allowed, Doorman, Elevator...            low
99919   [Elevator, Laundry in Building, Laundry in Uni...         medium
99921                        [Furnished, Laundry In Unit]         medium
99923      [Doorman, Pre-War, Dogs Allowed, Cats Allowed]            low
99924   [Doorman, Laundry in Building, Laundry in Unit...            low
99931                        [Dogs Allowed, Cats Allowed]            low
99933   [Roof Deck, Dining Room, Doorman, Elevator, Fi...            low
99935                                                  []            low
99937   [Pre-War, Laundry in Building, Dishwasher, Har...            low
9994       [Doorman, Pre-War, Dogs Allowed, Cats Allowed]            low
99953   [Doorman, Elevator, Furnished, Pre-War, Dishwa...            low
99956   [Common Outdoor Space, Cats Allowed, Dogs Allo...            low
99960                                   [Hardwood Floors]         medium
99961   [Doorman, Elevator, Laundry in Building, Dishw...            low
99964    [Loft, Multi-Level, Dishwasher, Hardwood Floors]         medium
99965   [Swimming Pool, Dining Room, Doorman, Elevator...            low
99966   [Roof Deck, Doorman, Elevator, Fitness Center,...            low
99979                                                  []            low
99980   [Common Outdoor Space, Cats Allowed, Dogs Allo...            low
99982   [Doorman, Elevator, Fitness Center, Laundry in...           high
99984   [Elevator, Multi-Level, Dishwasher, Hardwood F...            low
99986                         [Elevator, Hardwood Floors]            low
99987                                        [Dishwasher]            low
99988   [Cats Allowed, No Fee, Doorman, Elevator, Laun...         medium
9999    [Elevator, Laundry in Building, Laundry in Uni...         medium
99991   [Common Outdoor Space, Cats Allowed, Dogs Allo...            low
99992   [Doorman, Elevator, Pre-War, Dogs Allowed, Cat...            low
99993   [Doorman, Elevator, Pre-War, Dogs Allowed, Cat...            low
99994                                   [Hardwood Floors]            low

        latitude  listing_id       ...                 street_address  \
10       40.7145     7211212       ...        792 Metropolitan Avenue
10000    40.7947     7150865       ...            808 Columbus Avenue
100004   40.7388     6887163       ...                241 W 13 Street
100007   40.7539     6888711       ...           333 East 49th Street
100013   40.8241     6934781       ...          500 West 143rd Street
100014   40.7429     6894514       ...           350 West 18th Street
100016   40.8012     6930771       ...          210 West 107th Street
100020   40.7427     6867392       ...           155 West 21st Street
100026   40.8234     6898799       ...            63 Hamilton Terrace
100027   40.7278     6814332       ...                     522 E 11th
100030   40.7769     6869199       ...               1661 York Avenue
10004    40.8448     7102986       ...            644 W. 173rd Street
100044   40.7488     6895442       ...                  137 E 38th St
100048   40.7707     6846213       ...            30 West 63rd Street
10005    40.7584     7089402       ...             315 East 56th St..
100051   40.7439     6889043       ...           340 East 34th Street
100052   40.7305     6913348       ...                   214 1st Ave.
100053   40.8643     6894111       ...                   98 Thayer St
100055   40.7999     6900220       ...          127 West 106th Street
100058   40.7328     6848536       ...                 272 1st Avenue
100062   40.7454     6858062       ...             121 Madison Avenue
100063   40.7427     6836760       ...                 210 E 30th St,
100065   40.7447     6866830       ...           326 East 35th Street
100066   40.7074     6885927       ...              10 Liberty Street
10007    40.7391     7120132       ...                    30 W 18 St.
100071   40.7584     6933499       ...                  310 East 56th
100075   40.7728     6921632       ...                 444 E 81st St.
100076   40.7709     6913084       ...           601 West 57th Street
100079   40.8335     6907079       ...             1215 Morris Avenue
100081   40.7716     6925264       ...                 435 E 79th St.
...          ...         ...       ...                            ...
99915    40.7176     6921019       ...          250 North 10th Street
99917    40.7655     6926146       ...                  150 W 58th St
99919    40.7721     6844805       ...           353 East 78th Street
99921    40.6182     6943991       ...                9319 Ridge Blvd
99923    40.7829     6822618       ...            25 West 81st Street
99924    40.7637     6918969       ...                 888 8th Avenue
99931    40.7293     6921162       ...            230 Thompson Street
99933    40.7075     6819357       ...                      200 Water
99935    40.7287     6893263       ...           508 East 12th Street
99937    40.7769     6873182       ...               1661 York Avenue
9994     40.7957     7114685       ...           220 West 98th Street
99953    40.7655     6924210       ...           150 West 58th Street
99956    40.7095     6884807       ...                  Nassau Street
99960    40.7179     6825168       ...              119 Baxter Street
99961    40.7222     6911061       ...            222 East 3rd Street
99964    40.7708     6942494       ...                    425 E 77 St
99965    40.7766     6819478       ...           501 East 87th Street
99966    40.7695     6878391       ...           200 East 72nd Street
99979    40.6865     6871559       ...                   51 eldert st
99980    40.7090     6933865       ...                116 John Street
99982    40.7645     6837242       ...                   260 W 54 St.
99984    40.7728     6815109       ...                191 E 76 Street
99986    40.7350     6871681       ...               6 Charles Street
99987    40.7889     6856001       ...           117 East 89th Street
99988    40.7296     6913833       ...                 166 2nd avenue
9999     40.7426     7098690       ...                    230 E 30 St
99991    40.7102     6822449       ...               225 Rector Place
99992    40.7601     6881461       ...           341 West 45th Street
99993    40.7066     6841891       ...                 37 Wall Street
99994    40.8699     6858245       ...           30 Park Terrace East

       Elevator Cats Allowed  Hardwood Floors Dogs Allowed  Doorman  \
10            0            0                0            0        0
10000         1            1                0            1        1
100004        0            0                1            0        0
100007        0            0                1            0        0
100013        0            0                0            0        0
100014        0            0                0            0        0
100016        0            1                0            1        0